In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm

In [44]:
data=[]
for i in tqdm(range(1,51)):
    link='https://books.toscrape.com/catalogue/page-'+str(i)+'.html'
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')

    

    for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        #print(sp)
        #print('-'*100)
        img_link   =     'https://books.toscrape.com/'+sp.find('img').get('src')
        book_link  =     'https://books.toscrape.com/catalogue/'+sp.find_all('a')[-1].get('href')
        title      =     sp.find_all('a')[-1].get('title')
        rating     =     sp.find('p').get('class')[-1]
        book_price =     sp.find('p',class_='price_color').text[1:]
        stocks     =     sp.find('p',class_='instock availability').text.strip()
        data.append([img_link,book_link,title,rating,book_price,stocks])
        #print(book_link+" | "+title+" | "+img_link+" | "+rating+" | "+book_price+" | "+stocks)
        #break

100%|██████████| 50/50 [00:58<00:00,  1.16s/it]

In [46]:
len(data)

1000

In [48]:
df=pd.DataFrame(data,columns=['img_link','book_link','title','rating','book_price','stocks'])

In [50]:
df

,img_link,book_link,title,rating,book_price,stocks
0,https://books.toscrape.com/../media/cache/2c/d...,https://books.toscrape.com/catalogue/a-light-i...,A Light in the Attic,Three,£51.77,In stock
1,https://books.toscrape.com/../media/cache/26/0...,https://books.toscrape.com/catalogue/tipping-t...,Tipping the Velvet,One,£53.74,In stock
2,https://books.toscrape.com/../media/cache/3e/e...,https://books.toscrape.com/catalogue/soumissio...,Soumission,One,£50.10,In stock
3,https://books.toscrape.com/../media/cache/32/5...,https://books.toscrape.com/catalogue/sharp-obj...,Sharp Objects,Four,£47.82,In stock
4,https://books.toscrape.com/../media/cache/be/a...,https://books.toscrape.com/catalogue/sapiens-a...,Sapiens: A Brief History of Humankind,Five,£54.23,In stock
...,...,...,...,...,...,...
995,https://books.toscrape.com/../media/cache/96/e...,https://books.toscrape.com/catalogue/alice-in-...,Alice in Wonderland (Alice's Adventures in Won...,One,£55.53,In stock
996,https://books.toscrape.com/../media/cache/09/7...,https://books.toscrape.com/catalogue/ajin-demi...,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Four,£57.06,In stock
997,https://books.toscrape.com/../media/cache/1b/5...,https://books.toscrape.com/catalogue/a-spys-de...,A Spy's Devotion (The Regency Spies of London #1),Five,£16.97,In stock
998,https://books.toscrape.com/../media/cache/2b/4...,https://books.toscrape.com/catalogue/1st-to-di...,1st to Die (Women's Murder Club #1),One,£53.98,In stock
999,https://books.toscrape.com/../media/cache/d7/0...,https://books.toscrape.com/catalogue/1000-plac...,"1,000 Places to See Before You Die",Five,£26.08,In stock

In [52]:
df.to_csv('Books.csv',index=False)

In [54]:
df=pd.read_csv('Books.csv')

In [56]:
df.head()

,img_link,book_link,title,rating,book_price,stocks
0,https://books.toscrape.com/../media/cache/2c/d...,https://books.toscrape.com/catalogue/a-light-i...,A Light in the Attic,Three,£51.77,In stock
1,https://books.toscrape.com/../media/cache/26/0...,https://books.toscrape.com/catalogue/tipping-t...,Tipping the Velvet,One,£53.74,In stock
2,https://books.toscrape.com/../media/cache/3e/e...,https://books.toscrape.com/catalogue/soumissio...,Soumission,One,£50.10,In stock
3,https://books.toscrape.com/../media/cache/32/5...,https://books.toscrape.com/catalogue/sharp-obj...,Sharp Objects,Four,£47.82,In stock
4,https://books.toscrape.com/../media/cache/be/a...,https://books.toscrape.com/catalogue/sapiens-a...,Sapiens: A Brief History of Humankind,Five,£54.23,In stock

In [98]:
data=[]
for link in tqdm(df['book_link']):
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')
    
    typ = soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    
    temp=soup.find('table',class_='table table-striped').find_all('td')
    
    UPC = temp[0].text
    price_x = temp[2].text[2:]
    price_i = temp[3].text[2:]
    tax = temp[4].text[2:]
    qn = temp[5].text
    reviews = temp[6].text
    data.append([typ,UPC,price_x,price_i,tax,qn,reviews])

100%|██████████| 1000/1000 [14:50<00:00,  1.12it/s]

In [104]:
df=pd.DataFrame(data,columns=['category','UPC','price_e_tax','price_i_tax','tax','quantity','reviews'])

In [106]:
df

,category,UPC,price_e_tax,price_i_tax,tax,quantity,reviews
0,Poetry,a897fe39b1053632,51.77,51.77,0.00,In stock (22 available),0
1,Historical Fiction,90fa61229261140a,53.74,53.74,0.00,In stock (20 available),0
2,Fiction,6957f44c3847a760,50.10,50.10,0.00,In stock (20 available),0
3,Mystery,e00eb4fd7b871a48,47.82,47.82,0.00,In stock (20 available),0
4,History,4165285e1663650f,54.23,54.23,0.00,In stock (20 available),0
...,...,...,...,...,...,...,...
995,Classics,cd2a2a70dd5d176d,55.53,55.53,0.00,In stock (1 available),0
996,Sequential Art,bfd5e1701c862ac3,57.06,57.06,0.00,In stock (1 available),0
997,Historical Fiction,19fec36a1dfb4c16,16.97,16.97,0.00,In stock (1 available),0
998,Mystery,f684a82adc49f011,53.98,53.98,0.00,In stock (1 available),0
999,Travel,228ba5e7577e1d49,26.08,26.08,0.00,In stock (1 available),0

In [108]:
df.to_csv('data.csv',index=False)

In [110]:
df1=pd.read_csv('books.csv')
df2=pd.read_csv('data.csv')

In [112]:
df1.head()

,img_link,book_link,title,rating,book_price,stocks
0,https://books.toscrape.com/../media/cache/2c/d...,https://books.toscrape.com/catalogue/a-light-i...,A Light in the Attic,Three,£51.77,In stock
1,https://books.toscrape.com/../media/cache/26/0...,https://books.toscrape.com/catalogue/tipping-t...,Tipping the Velvet,One,£53.74,In stock
2,https://books.toscrape.com/../media/cache/3e/e...,https://books.toscrape.com/catalogue/soumissio...,Soumission,One,£50.10,In stock
3,https://books.toscrape.com/../media/cache/32/5...,https://books.toscrape.com/catalogue/sharp-obj...,Sharp Objects,Four,£47.82,In stock
4,https://books.toscrape.com/../media/cache/be/a...,https://books.toscrape.com/catalogue/sapiens-a...,Sapiens: A Brief History of Humankind,Five,£54.23,In stock

In [114]:
df2.head()

,category,UPC,price_e_tax,price_i_tax,tax,quantity,reviews
0,Poetry,a897fe39b1053632,51.77,51.77,0.0,In stock (22 available),0
1,Historical Fiction,90fa61229261140a,53.74,53.74,0.0,In stock (20 available),0
2,Fiction,6957f44c3847a760,50.10,50.10,0.0,In stock (20 available),0
3,Mystery,e00eb4fd7b871a48,47.82,47.82,0.0,In stock (20 available),0
4,History,4165285e1663650f,54.23,54.23,0.0,In stock (20 available),0

In [116]:
df=pd.DataFrame()

In [128]:
df['title']=df1['title']
df['category']=df2['category']
df['price_e_tax']=df2['price_e_tax']
df['price_i_tax']=df2['price_i_tax']
df['tax']=df2['tax']
df['rating']=df1['rating']
df['reviews']=df2['reviews']
df['UPC']=df2['UPC']
df['quantity']=df2['quantity']
df['stocks']=df1['stocks']
df['book_link']=df1['book_link']
df['img_link']=df1['img_link']

In [130]:
df

,title,category,price_e_tax,price_i_tax,tax,rating,reviews,UPC,quantity,stocks,book_link,img_link
0,A Light in the Attic,Poetry,51.77,51.77,0.0,Three,0,a897fe39b1053632,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...
1,Tipping the Velvet,Historical Fiction,53.74,53.74,0.0,One,0,90fa61229261140a,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...
2,Soumission,Fiction,50.10,50.10,0.0,One,0,6957f44c3847a760,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...
3,Sharp Objects,Mystery,47.82,47.82,0.0,Four,0,e00eb4fd7b871a48,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...
4,Sapiens: A Brief History of Humankind,History,54.23,54.23,0.0,Five,0,4165285e1663650f,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,Classics,55.53,55.53,0.0,One,0,cd2a2a70dd5d176d,In stock (1 available),In stock,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/../media/cache/96/e...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Sequential Art,57.06,57.06,0.0,Four,0,bfd5e1701c862ac3,In stock (1 available),In stock,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/../media/cache/09/7...
997,A Spy's Devotion (The Regency Spies of London #1),Historical Fiction,16.97,16.97,0.0,Five,0,19fec36a1dfb4c16,In stock (1 available),In stock,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/../media/cache/1b/5...
998,1st to Die (Women's Murder Club #1),Mystery,53.98,53.98,0.0,One,0,f684a82adc49f011,In stock (1 available),In stock,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/../media/cache/2b/4...
999,"1,000 Places to See Before You Die",Travel,26.08,26.08,0.0,Five,0,228ba5e7577e1d49,In stock (1 available),In stock,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/../media/cache/d7/0...

In [134]:
df.isnull().sum()

title          0
category       0
price_e_tax    0
price_i_tax    0
tax            0
rating         0
reviews        0
UPC            0
quantity       0
stocks         0
book_link      0
img_link       0
dtype: int64

In [138]:
df.to_csv('final.csv',index=False)