In [152]:
import requests
from selenium import webdriver
import chromedriver_binary
from bs4 import BeautifulSoup
import pandas as pd

In [154]:
link='https://stock-pictures.netlify.app'

In [156]:
#res=requests.get(link)
driver=webdriver.Chrome()

In [158]:
driver.get(link)

In [160]:
soup=BeautifulSoup(driver.page_source,'html.parser')

In [162]:
len(soup.find_all('img'))

0

In [164]:
data1=[]
for sp in soup.find_all('div',class_='container'):
    #print(sp)
    #print('-'*100)
    if 'gif' not in sp.find('img').get('src'):
        link=sp.find('img').get('src')
        tags = list(sp.find('div',class_='tags').text[7:].split(' '))
        likes=int(sp.find('div',class_='likes-comments').find_all('span')[0].text[:-6])
        comments=int(sp.find('div',class_='likes-comments').find_all('span')[1].text[:-9])
        data1.append([link,' '.join(tags),likes,comments])
    #break

In [ ]:
df=pd.DataFrame(data1,columns=['link_of_image','tags_of_image','likes','comments'])

In [144]:
df

,link_of_image,tags_of_image,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,Clouds Sky Atmosphere Blue Sky,196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,Bird Ornithology Hummingbird,76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,Sea Rainbow Rainfall Subtropical,282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,Cherry Blossoms Road Japan Sakura,42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,Cape Marguerite Flower Plant,39,15
...,...,...,...,...
285,https://cdn.pixabay.com/photo/2022/04/08/14/27...,Bird Duckling Ornithology Species,10,6
286,https://cdn.pixabay.com/photo/2022/04/08/10/28...,Bird Pigeon Ornithology Species,8,4
287,https://cdn.pixabay.com/photo/2022/03/01/18/14...,Tulip Flower Purple Flower Dew,89,109
288,https://cdn.pixabay.com/photo/2022/04/08/22/55...,Bird True Sparrow Ornithology Species,4,0
289,https://cdn.pixabay.com/photo/2016/03/04/19/36...,Beach Sea Ocean Tropical,2481,465

In [146]:
df.isnull().sum()

link_of_image    0
tags_of_image    0
likes            0
comments         0
dtype: int64

In [150]:
df.to_csv('image_scraper.csv',index=False)